data/raw/*
data/processed/*
data/splits/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/splits/.gitkeep
!models/.gitkeep

reports/

__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.env

.venv
.idea